{% extends 'blog/index.html' %}
{% load static %}
{%  block image %}url('{% static 'img/cv-bg.jpg' %}'){% endblock %}
{% block title %} CV {% endblock %}
{% block subhead %} {% endblock %}
{% block content %}
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum, arcu a eleifend auctor, lectus elit
    dapibus elit, eu imperdiet turpis libero id elit. Cras bibendum pharetra nisi non luctus. Quisque id sollicitudin
    dui. Ut at mauris nec ante pretium tincidunt in ultricies quam. In vel dignissim tellus. Cras nisl velit, bibendum
    quis purus nec, condimentum ultrices augue. Phasellus quis condimentum arcu, lacinia consequat augue. Sed venenatis
    nibh at ornare vulputate. Praesent dui nisi, consectetur nec ligula ut, ornare aliquam mi. Sed tempor lorem a libero
    mollis feugiat.
</p>
{% endblock %}